<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/ontrial.css">
</head>
<body>
        <nav class="nav-center">
                <div class="nav-logo"><img src="../img/logonew.png" alt=""></div>
                <div class="nav-list">
                    <ul>
                        <li><a href="../use/index.html">首页</a></li>
                        <li><a href="../play/play.html">酷玩</a></li>
                        <li><a href="../guid/guid.html">导购</a></li>
                        <li><a href="../use/use.html" class="nav-list-on">试用</a></li>
                        <li><a href="../report/report.html">报告</a></li>
                    </ul>
                </div>
                <div class="nav-register">
                    <span class="nav-search"></span>
                    <span class="nav-post"><a href="../use/regist.html" class="nav-link">注册</a></span>
                </div>
            </nav>

            <div class="bigpic">
                    <!-- 动画部分 -->
                    <div class="anmition">
                        <h3 class="anm-title">幻响小贝HiFi2.1音箱</h3>
                        <p class="anm-all"><span class="anm-pople">126人申请</span><span class="anm-price">￥599</span><span
                                class="anm-num">20台</span></p>
                        <p class="anm-loadtime">申请时间剩余：13天5小时37分钟</p>
                        <p class="anm-apply-for">立即申请</p>
                    </div>
                </div>


    <div class="kaifang">
        <div class="kai-cnet">
        <h3>试用流程</h3>
        <ul class="lis">
            <li class="on">
                <div class="pt1">
                    <div class="tu1">
                        <img src="../img/use1.png">
                    </div>
                    <span>开放申请</span>
                </div>
            </li>
            <li><div class="pt1">
                    <div class="tu1">
                        <img src="../img/use2.png">
                    </div>
                    <span>名单公布</span>
                </div></li>
            <li>
                    <div class="pt1">
                            <div class="tu1">
                                <img src="../img/use3.png">
                            </div>
                            <span>产品试用</span>
                        </div>
            </li>
            <li>
                    <div class="pt1">
                            <div class="tu1">
                                <img src="../img/use4.png">
                            </div>
                            <span>提交反馈</span>
                        </div>
            </li>
            <li><div class="pt1">
                    <div class="tu1">
                        <img src="../img/use5.png">
                    </div>
                    <span>活动结束</span>
                </div></li>
        </ul>
</div>
    </div>
    <div class="content">
        <div class="content-ct">
            <div class="cont-left">
              <h3>产品介绍</h3>
              <div class="wenzi">
             <p class="p0">多重功能集成的便携控制中心：半果控制中心。</p>
              <p style="margin-top: 20px;">半果控制中心是一台功能高度集成的便携控制设备
                  ，包含WiFi收发模块、蓝牙4.1模块、独立声卡系统、音乐控制拨盘
                  、麦克风语音接收、3.5mm耳机接口、高速数据传输、QC2.0快速充电、Type-C接口等。
                  仅需将其与电脑连接，即可解决科技生活中遇到的种种痛点。</p>
              </div>
                <div class="img2">
                    <img src="../img/use1.jpg">
                </div>
                <div class="sheji">
                    <h4>结构设计</h4>
                    <p>
                            极致一体化，机身表面没有一丝接缝和一颗螺丝。
                            采用突破性的液态金属质感工艺，无任何键位开关，所有功能同时自然高效运行。
                            无线网络台式机或无自带网卡的电脑只需插入半果控制中心
                             切换至网卡模式即可接受WiFi信号。还可创建WiFi热点，让你的手机和平板立刻联网。
                           
                    </p>
                </div>
                <div class="inter">
                    <h4>无限网络</h4>
                    <p>
                            台式机或无自带网卡的电脑只需插入半果控制中心，
                            切换至网卡模式即可接受WiFi信号。还可创建WiFi热点，让你的手机和平板立刻联网。
 
                    </p>
                    <img src="../img/use.jpg">
                </div>
               <div class="lanya">
                   <h4>蓝牙连接</h4>
                   <p>
                        先进的超低功耗蓝牙4.1，设备配对连接更便捷。
                        可将所有设备连接至一台控制中心，数据传输速率大幅提高。
                   </p>
               </div>
               <div class="duli">
                   <h4>独立显卡</h4>
                   <p>配备德州仪器HiFi芯片，内置Max Bass技术，
                       带来更高解析力音质。并且采用独立耳机放大器，内置麦克风，任何软件都可轻松调用。</p>
               </div>
               <div class="jisu">
                   <h4>极速充电</h4>
                   <p>
                        支持QC 2.0快充协议，使用一根Type-C线，4个USB可同时极速快充，
                        并且每个接口都拥有芯片级的4重保护，告别插线板和充电器。
                   </p>
               </div>
               <div class="jies">
                   <h3>活动介绍</h3>
                   <p style="margin-top: 20px;">点击申请按钮报名，报名成功后记得邀请好友
                       一起来参与哦~邀请好友数前十名将
                       根据申请理由和影响力抽取一位直接获得试用机会。
                       请认真填写申请理由，展现有创意的试用计划。
                       进入手机端完善个人主页信息，可以大大提高申请通过几率哦~</p>
                    <a href="#">试用报告要求100% 原创，抄袭会被封杀哦！</a>
                    </div>
                    <div class="che">
                        <p style="color:red;margin: 20px 0px;">活动流程</p>
                        <p>1.<span>名单公布:</span>试用名单将在活动页公布</p>
                        <p>2.<span>试用通知:</span>名单公布后客服将以短信的方式通知申请成功者，2天不回复算弃权</p>
                        <p>3.<span>押金收取:</span>客服将统一通知大家收取产品押金</p>
                        <p>4.<span>产品寄送:</span>收到押金后第一时间将产品快递给大家</p>
                        <p>5.<span>网络晒单:</span>收货后请在微博或朋友圈等社交网络晒单</p>
                        <p>6.<span>试用报告:</span>收到货的10天内完成报告并上传</p>
                        <p>7.<span>产品回收:</span>选取6篇优秀报告，赠送产品</p>
                        <p>8.<span>押金退回:</span>活动结束返还，人为损坏须赔偿</p>
                    </div>
            </div>
            <div class="huos">
                    <p style="color:red;margin: 20px 0px;">活动时间</p>
                    <p>1.<span>申请报名：</span>2016/02/02－2016/02/17（截至24点）</p>
                    <p>2.<span>公布名单：</span>2016/02/20</p>
                    <p>3.<span>发货日期：</span>2016/02/22（以实际为准）</p>
                    <p>4.<span>试用期限：</span>收到产品后10天内</p>
            </div>

            <div class="pt">
                 <h3 style="margin: 20px 0px;">热门试用</h3>
            </div>
            <div class="pai">
                    <!-- <div class="pht1">
                            <img src="../img/hot5.jpg">
                            <span class="fa">首发</span>
                            <span class="ti">体验师专项</span>
                            <p >{{=value.title}}</p>
                            <p class="aa">查看剩余时间</p>
                            <p><span class="span1">{{=value.num_arr[0]}}</span><span class="span2">{{=value.num_arr[1]}}</span></p>
                            <p><a class="a1" href="#">{{=value.apply}}</a><span>申请</span></p>
                            <p id="dat">{{=value.dat}}</p>
                </div> -->
                   
                    
            </div>


            <div class="cont-right">
                
                <div class="gouqu">
                    <h3>购买渠道</h3>
                    <h1 style="color:red;margin-top: 20px;">￥499</h1>
                    <button>点击购买</button>
                    <p>来自官网</p>
                </div>
                <div class="hi-top">
                        <h3>极果体验师</h3>
                       <img src="../img/tiyanImg.jpg">
                       <div class="fuli">
                          <h3>福利</h3>
                           <p>第一时间体验新品，大众试用优先通过，还有定向邀请试用，新品玩到手软！</p>
                       </div>
                       <div class="yao">
                           <h3>要求</h3>
                           <p>是某个领域的大神级玩家，在社交网络或圈子里有大影响力，善写作会拍摄。</p>
                       </div>
                       <div class="please">
                           <h3>申请</h3>
                           <p>1. 关注极果公众号：jguojguo
                                   （或扫描下方二维码）</p>
                                   <p>2. 在公众号内回复：体验师</p>
                       </div>
                   
                   </div>
                   <div class="hi-botm">
                        <h3>关注我们</h3>
                        <img src="../img/myCode.jpg">
                    </div>
            </div>
        </div>
    </div>
    <footer class="footer">
            <div class="footer-center">
                <div class="footer-logo"></div>
                <div class="footer-link-logo">
                  <div class="footer-logo-pic"><img src="../img/logoImg.jpg" alt=""></div> 
                  <div class="footer-play">全球酷玩试用导购平台酷·新奇·好玩·品质</div> 
                  <div class="footer-play">微信添加"JguoJguo"获取我们的服务。</div> 
             
                </div>
                <div class="footer-link">
                        <ul class="footer-list">
                            <li class="footer-title-first">免费试用
                                <ol class="footer-small-list">
                                    <li class="footer-play">试用流程</li>
                                    <li class="footer-play">如何提高成功率</li>
                                </ol>
                            </li>
                            <li class="footer-title-list">友情链接
                                    <ol class="footer-small-list">
                                            <li class="footer-play"><span>智东西    </span><span>WEIBUSI</span></li>
                                            <li class="footer-play"><span>搜狐IT  </span><span> 腾讯科技</span></li>
                                            <li class="footer-play"><span>搜狐数码</span><span>  凤凰科技</span></li>
                                            <li class="footer-play"><span>凤凰数码   </span><span>   PConline</span></li>
                                            <li class="footer-play"><span>泡泡网  </span><span>   3W咖啡</span></li>
                                            <li class="footer-play"><span>ZUK社区   </span><span>   亿觅emie</span></li>
                                            <li class="footer-play"><span>极客公园 </span><span>  易迅易启玩</span></li>
                                            <li class="footer-play"><span>果库</span></li>
                                          
                                        </ol>
                            </li>
                            <li class="footer-title-list">购买攻略
                                    <ol class="footer-small-list">
                                            <li class="footer-play"><span class="footer-small">美亚海淘教程</span></li>
                                            <li class="footer-play"><span class="footer-small">日亚海淘教程 </span></li>
                                            <li class="footer-play"><span class="footer-small">海淘转运攻略 </span></li>
                                            <li class="footer-play"><span class="footer-small">kickstarter 众筹购买攻略  </span></li>
                                            <li class="footer-play"><span class="footer-small">indiegogo 众筹购买攻略 </span></li>
                                        </ol>
    
                            </li>
                            <li class="footer-title-list"><a href="../report/teamwork.html" style="color:#fff">厂商合作</a> 
                                    <ol class="footer-small-list">
                                            <li class="footer-play"><span class="footer-small">关于极果</span></li>
                                            <li class="footer-play"><span class="footer-small">联系我们</span></li>
                                            <li class="footer-play"><span class="footer-small">商务合作:BD@jiguo.com</span></li>
                                            <li class="footer-play"><span class="footer-small">CEO邮箱:CEO@jiguo.com</span></li>
                                         
                                        </ol>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-coapy"> &copy;2016 极果版权所有</div>
            </div>
          
        </footer>
        <!-- 广告固定位 -->
        <div class="backtop"></div>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/doT.min.js"></script>
    <script src="../js/ontrial.js"></script>
    <script id="interpolationtmpl" type="text/x-dot-template">
        {{~it.Ontario :value:index }}
        <div class="pht1">
                   
                    <img src="{{=value.img_url}}">
                    {{ if (value.info.type === 0) { }}
                    <span class="fa">{{=value.text}}</span>
                    {{ } else { }}
                    <span class="ti">{{=value.text}}</span>
                    {{ }}}
                   
                    <p>{{=value.title}}</p>
                    <p><span class="span1">{{=value.num_arr[0]}}</span><span class="span2">{{=value.num_arr[1]}}</span></p>
                    <p><a class="a1" href="#">{{=value.apply}}</a><span>申请</span></p>
                    {{ if (value.info.num===8) { }}
                    <p class="aa">{{=value.dat}}</p>
                    {{ }else{ }}
                    <p id="dat">{{=value.dat}}</p>
                    {{ }}}

        </div>
        {{~}}
    </script>
</body>
</html>